body{
    margin:0;
    padding:0;
    font-family: 'Mooli', sans-serif;
    background-color:rgb(20, 19, 19);
}
h1{
    color:orange;
    text-align:center;
}
section{
    width:600px;
    margin:30px auto;
    padding:20px 10px;
    background-color:rgb(247, 241, 242);
    border-radius:8px;
}

button{
    background-color:rgb(241, 170, 36);
    font:inherit;
    padding:5px 5px;
    border-radius:5px;
    display:block;
    margin: 10px 10px;
}
#calculated-sum{
    display:none;
    padding:10px 10px;
    font-size:3rem;
    text-align:center;
}

a{
    text-decoration:none;
    color:orange;
}

.highlight{
    background-color: blueviolet;
}